includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - tests
    level: 5
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - message: '#Negated boolean expression is always false#'
          path: app/Http/Requests/Image/CreateImageRequest.php

        - message: '#Access to property \$id on an unknown class#'
          paths:
              - tests/Feature/Features/FeaturesCrudOperationsTest.php
              - tests/Feature/Features/FeaturesAuthorizationTest.php
              - tests/Feature/CampaignFeatures/CampaignFeaturesSearchTest.php

        - message: "#Relation 'tags' is not found in App\\\\Models\\\\CampaignTemplate model#"
          path: app/Repositories/CampaignTemplateRepository.php

        - message: "#Relation 'typeCampaign' is not found in App\\\\Models\\\\CampaignTemplate model#"
          path: app/Repositories/CampaignTemplateRepository.php

        - message: "#Relation 'campaign' is not found in App\\\\Models\\\\SocialPost model#"
          path: app/Repositories/SocialPostRepository.php

        - message: "#Relation 'category' is not found in App\\\\Models\\\\CampaignTemplate model#"
          path: app/Repositories/CampaignTemplateRepository.php

        - message: "#Relation 'socialPosts' is not found in App\\\\Models\\\\CampaignTemplate model#"
          path: app/Repositories/CampaignTemplateRepository.php

        - message: "#Relation 'campaign' is not found in App\\\\Models\\\\LandingPage model#"
          path: app/Repositories/LandingPageRepository.php

        - message: "#Relation 'campaign' is not found in App\\\\Models\\\\Prompt model#"
          path: app/Repositories/PromptRepository.php

        - message: "#Relation 'campaign' is not found in App\\\\Models\\\\Image model#"
          path: app/Repositories/ImageRepository.php

        - message: "#Relation 'campaign' is not found in App\\\\Models\\\\CampaignInteraction model#"
          paths:
              - app/Repositories/DashboardRepository.php
              - app/Http/Controllers/API/Dashboard/DashboardController.php

        - message: '#Class App\\Http\\Middleware\\.* not found#'
          path: app/Http/Kernel.php

        - message: '#Class Fruitcake\\Cors\\HandleCors not found#'
          path: app/Http/Kernel.php

        - message: '#Call to method PHPUnit\\Framework\\Assert::assertTrue\(\) with true will always evaluate to true#'
          path: tests/Unit/ExampleTest.php

        - message: '#Access to an undefined property App\\Models\\CampaignTemplate::\$category#'
          path: app/Http/Resources/CampaignTemplate/CampaignTemplateResource.php
          count: 1

        - message: '#Access to an undefined property App\\Models\\CampaignTemplate::\$typeCampaign#'
          path: app/Http/Resources/CampaignTemplate/CampaignTemplateResource.php
          count: 1

        - message: '#Access to an undefined property App\\Http\\Resources\\CampaignTemplate\\CampaignTemplateResource::\$author#'
          path: app/Http/Resources/CampaignTemplate/CampaignTemplateResource.php

        - message: '#Access to an undefined property App\\Http\\Resources\\CampaignTemplate\\CampaignTemplateResource::\$thumbnail#'
          path: app/Http/Resources/CampaignTemplate/CampaignTemplateResource.php

        - message: '#Access to an undefined property App\\Http\\Resources\\CampaignTemplate\\CampaignTemplateResource::\$created_at#'
          path: app/Http/Resources/CampaignTemplate/CampaignTemplateResource.php

        - message: '#Access to an undefined property App\\Http\\Resources\\CampaignTemplate\\CampaignTemplateResource::\$socialPosts#'
          path: app/Http/Resources/CampaignTemplate/CampaignTemplateResource.php

        - message: '#Access to an undefined property App\\Http\\Resources\\CampaignTemplate\\CampaignTemplateResource::\$tags#'
          path: app/Http/Resources/CampaignTemplate/CampaignTemplateResource.php

        - message: '#Access to an undefined property App\\Http\\Resources\\CampaignTemplate\\CampaignTemplateResource::\$is_premium#'
          path: app/Http/Resources/CampaignTemplate/CampaignTemplateResource.php

        - message: '#Access to an undefined property App\\Http\\Resources\\CampaignTemplate\\CampaignTemplateResource::\$preview#'
          path: app/Http/Resources/CampaignTemplate/CampaignTemplateResource.php

        - message: '#Ternary operator condition is always true#'
          path: app/Services/LandingPage/LandingPageGenerateService.php

        - message: '#Property App\\Http\\Controllers\\API\\LandingPage\\LandingPageShowController::\$service is never read, only written#'
          path: app/Http/Controllers/API/LandingPage/LandingPageShowController.php

        - message: '#Negated boolean expression is always false#'
          path: app/Services/LandingPage/LandingPageGenerateService.php

        - message: "#Relation 'user' is not found in App\\\\Models\\\\Payment model#"
          path: app/Http/Controllers/API/Mvola/AdminPaymentController.php

        - message: "#Strict comparison using !== between array and null will always evaluate to true#"
          path: app/Services/LandingPage/LandingPageGenerateService.php
          count: 3

        - message: "#Call to function is_array\\(\\) with array will always evaluate to true#"
          path: app/Services/LandingPage/LandingPageGenerateService.php
          count: 2

        - message: "#Variable \\$cleanJson on left side of \\?\\? always exists and is not nullable#"
          path: app/Services/LandingPage/LandingPageGenerateService.php

        - message: "#Property App\\\\Services\\\\MvolaService::\\$partnerMsisdn is never read, only written#"
          path: app/Services/MvolaService.php

        - message: "#Array has 2 duplicate keys with value 'debitParty'#"
          path: app/Services/MvolaService.php

        - message: "#Array has 2 duplicate keys with value 'creditParty'#"
          path: app/Services/MvolaService.php

        - message: "#Array has 2 duplicate keys with value 'metadata'#"
          path: app/Services/MvolaService.php
